@page "/Account/Login"
@layout LoginLayout

<EditForm @ref="_editForm"
          Model="_model" 
          OnSubmit="OnSubmit">

    <DataAnnotationsValidator />

    <div class="row">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>
    <div class="form-outline mb-4">
        <InputText id="emailOrUserName" @bind-Value="_model.EmailOrUserName" placeholder="Email or user name" class="form-control" />
        <ValidationMessage For="@(()=>_model.EmailOrUserName)" />
    </div>
    <div class="form-outline mb-4">
        <InputText id="password" @bind-Value="_model.Password" type="password" placeholder="Password" class="form-control"/>
        <ValidationMessage For="@(()=>_model.Password)" class="small" />
    </div>
    <div class="form-outline mb-4">
        <InputCheckbox @bind-Value="_model.RememberMe"  class="form-check-input"/>
        <label class="form-check-label">Remember me</label>
    </div>
    <div class="row">
        <p class="mb-3 font-weight-normal">Don't have an account? <a href="@Options.Value.Endpoints.RegisterEndPoint">Register!</a></p>
    </div>
    
    <button class="btn btn-primary btn-block" type="submit" style="width: 100%">Sign in</button>        

</EditForm>

@if (_status.Any())
{
    <div class="pt-4">
        @foreach (var status in _status)
        {
            <div class="alert-primary" role="alert">@status</div>
        }
    </div>
}

@if (_errors.Any())
{
    <div class="pt-4">
        @foreach (var error in _errors)
        {
            <div class="alert alert-error" role="alert">@error</div>
        }
    </div>
}