@page "/Account/Register"
@layout LoginLayout

<EditForm Model="_model" 
          OnSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="row">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    </div>
    <div class="form-outline mb-4">
        <InputText id="userName" @bind-Value="_model.UserName" placeholder="User name" class="form-control" />
        <ValidationMessage For="@(()=>_model.UserName)" />
    </div>
    <div class="form-outline mb-4">
        <InputText id="email" @bind-Value="_model.Email" placeholder="Email" class="form-control" />
        <ValidationMessage For="@(()=>_model.Email)" />
    </div>
    <div class="form-outline mb-4">
        <InputText id="password" @bind-Value="_model.Password" type="password" placeholder="Password" class="form-control"/>
        <ValidationMessage For="@(()=>_model.Password)" class="small" />
    </div>
    <div class="form-outline mb-4">
        <InputText id="confirmPassword" @bind-Value="_model.ConfirmPassword" type="password" placeholder="Confirm password" class="form-control"/>
        <ValidationMessage For="@(()=>_model.ConfirmPassword)" class="small" />
    </div>
    <div class="row">
        <p class="mb-3 font-weight-normal">Already have an account? <a href="@Options.Value.Endpoints.LoginEndPoint">Sign in!</a></p>
    </div>
    
    <button class="btn btn-primary btn-block" type="submit" style="width: 100%">Register</button>        

</EditForm>

@if (_status.Any())
{
    <div class="pt-4">
        @foreach (var status in _status)
        {
            <div class="alert-primary" role="alert">@status</div>
        }
    </div>
}

@if (_errors.Any())
{
    <div class="pt-4">
        @foreach (var error in _errors)
        {
            <div class="alert alert-error" role="alert">@error</div>
        }
    </div>
}
